#customize-controls .control-section-news-report .accordion-section-title:hover,
#customize-controls .control-section-news-report .accordion-section-title:focus {
	background-color: #000000;
	color: #ffffff;
}

.control-section-news-report .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
	background-color: #ffbb33;
	border-color: #ffbb33;
	color: #000000;
}

.rtl .control-section-news-report .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}

li#accordion-section-news-report h3.accordion-section-title {
    background-color: #000000;
    color: #ffffff;
}
